.description{
    border: 1px solid #C2C4C7;
    border-radius: 0.5em;
    padding: 1em;
}
.sketch{
    border: 1px solid #C2C4C7;
    border-radius: 0.5em;
    padding: 1em;
}
.group-buttons{
    border: 1px solid #C2C4C7;
    border-radius: 0.5em;
    padding: 1em;
}
.sketch img{
    border: 1px solid #C2C4C7;
}
